/*---------------------------------------------------------------------*/
/* General Styles and utilities styles */
/*---------------------------------------------------------------------*/
:root {
    --primary-bgc: rgb(36, 76, 195);
    --secondary-bgc: rgb(88, 126, 203);
    --alternate-bgc: rgb(123, 150, 210);
    --fontcolor1: rgb(236, 239, 243);
    --fontcolor2: rgb(36, 76, 195);
    --fontcolor3: rgb(45, 23, 211);
    --fontcolor4: rgba(236,239,243,0.9);
    --transition-speed: 0.5s;
}
  
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
  
body {
    margin: 0 auto;
    max-width: 180rem;
    font-family: 'Open Sans Regular', sans-serif;
    background-image: linear-gradient(90deg, rgba(88, 126, 203, 0.2), rgba(123, 150, 210, 0.4));
    overflow-x: hidden;
    /* opacity: 0; */
    animation: fade-in 0.3s ease-in-out forwards;
}
 
/* @keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
} */

section, footer{
    padding: 0 3rem;
}

/*---------------------------------------------------------------------*/
/* General Styles and utilities styles */
/*---------------------------------------------------------------------*/
.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
  
.flex-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
 
.social-icons{
    flex-wrap: no-wrap;
    justify-content: space-around;
    flex-direction: row;
}

.heading{
    text-align: center;
    margin: 10rem 0 8rem 0;
    position: relative;
    color: var(--fontcolor2);
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--fontcolor3);
}
  
.heading::before{
    content:'';
    width: 50%;
    height: 0.2rem;
    background-color: var(--secondary-bgc);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6rem;
}
  
.heading::after{
    content:'';
    width: 30%;
    height: 0.2rem;
    background-color: var(--secondary-bgc);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8rem;
}

.more-info-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--alternate-bgc); 
    border-radius: 0.6rem;
    cursor: pointer;
    margin: auto auto 0 auto;
    color: var(--fontcolor3);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}
  
.more-info-button:hover,
.more-info-button:active
.more-info-button:focus {
    background-color: var(--secondary-bgc);
    transform: scale(1.1);
}

/*-------------------------------------------------------------------*/
/* Store Google-Fonts locally because CDN not compliant with GDPR */
/*-------------------------------------------------------------------*/
@font-face {
    font-family: 'Open Sans Bold';
    src: url('assets/fonts/opensans-bold.ttf') format('truetype');
    font-weight: bold;
}
  
@font-face {
    font-family: 'Open Sans Medium';
    src: url('assets/fonts/opensans-medium.ttf') format('truetype');
    font-weight: normal; 
} 

/*--------------------------------------------------------------------------*/
/* Navbar for larger screen-sizes / checkbox hack below for small screen */
/*--------------------------------------------------------------------------*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-bgc);
    color: var(--fontcolor1);
    min-height: 12vh;
}
  
.nav-links a {
    color: var(--fontcolor1);
}
  
.logo {
    display: inline-block;
    margin-left: 12vw;
    height: auto;
}
  
.nav-links {
    display: flex;
    gap: 1rem;
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-right: 5vw;
}
  
.nav-links li {
    margin-right: 0.4rem;
}
  
.nav-links li a {
    display: flex;
    align-items: center;
}
  
.nav-icon {
    font-size: 1.4rem;
    padding-right: 0.8rem;
}
  
.nav-links li {
    padding: 0.2rem 1rem;
}
  
/*---------------------------------------------------------------------*/
/*                  LANDING INCLUDING BANNER */
/*---------------------------------------------------------------------*/
.banner{
    margin-top: 15vh;
}
  
.banner-img{
    display: inline-block;
    max-width: 80%;
    height: auto;
    border-radius: 0.5rem;
    transition: opacity var(--transition-speed);
    margin: 0 auto;
}
  
.banner-img:hover,
.banner-img:focus {
    opacity: 0.7;
}
  
.banner-headline{
    text-align: center;
    margin: 1.5rem;
    font-size: 6rem;
    color: var(--fontcolor1);
    letter-spacing: 0.1rem;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--fontcolor3);
}
  
.banner-text{
    font-size: 2.5rem;
    color: var(--fontcolor3);
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

/*---------------------------------------------------------------------*/
/*             OUR PROJECTS/QUALITY ON LANDING/index.html */
/*---------------------------------------------------------------------*/
.cardholder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  
.card {
    text-align: center;
    border: 0.1rem solid #ddd;
    border: 0.2rem solid var(--alternate-bgc);
    padding: 0.5rem 2rem;
    border-radius: 1.2rem;
    margin-right: 1.2rem;
    position: relative;
}
  
.card img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    box-shadow: 0.5rem 0.5rem 1rem var(--alternate-bgc);
}

.card::before{
    content: '';
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 8rem;
    height: 8rem;
    font-size: 1.4rem;
    color: var(--fontcolor1);
    font-weight: bold;
    background: var(--primary-bgc);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    z-index: 1;
}
  
.card:nth-child(1)::before {
    content: '70% of units sold';
}
  
.card:nth-child(2)::before {
    content: 'Sales started';
}
  
.card:nth-child(3)::before {
    content: 'The vision of living';
}
  
.card h2,
article h2{
    font-size: 2.5rem;
    color: var(--fontcolor3);
    font-weight: 700;
    margin: 1.4rem 0;
    text-align: center;
}
  
.card p,
article p{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 2rem;
    color: var(--fontcolor3);
    font-weight: bold;
}
  
.quality article{
    background: transparent;
    border: 0.2rem solid var(--alternate-bgc);
    border-radius: 1.2rem;
    color: var(--fontcolor3);
    margin-right: 1.2rem;
    padding: 0.5rem 1rem;
}
  
/*---------------------------------------------------------------------*/
/*                    PROJECTS PAGE
/*---------------------------------------------------------------------*/
.table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
.table-container table {
    width: 100%;
    table-layout: fixed;
    height: 100%;
    margin-bottom: auto;
}
  
table, th, td {
    border: 1px solid var(--fontcolor4);
    white-space: normal;
}
  
th, td {
    padding: 10px;
    text-align: left;
    white-space: normal;
}
  
th {
    background-color: var(--primary-bgc);
    color: var(--fontcolor4);
    font-size: 1.3rem;
}
  
td {
    background-color: var(--secondary-bgc);
    color: var(--fontcolor4);
    font-weight: bold;
    font-size: 1.2rem;
}
  
tr:nth-child(even) {
    background-color: var(--alternate-bgc);
}
  
caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--fontcolor3);
}

/*---------------------------------------------------------------------*/
/*                    QUALITY PAGE
/*---------------------------------------------------------------------*/
.quality{
    font-size: 3.5rem;
    padding: 1.5rem;  
}
  
.margin-top{
    margin-top: 16vh;
} 

/*---------------------------------------------------------------------*/
/*                    REFERENCES PAGE
/*---------------------------------------------------------------------*/
.references .card::before{
    display: none;
}

/*---------------------------------------------------------------------*/
/*                    CONTACT PAGE
/*---------------------------------------------------------------------*/
form {
    display: flex;
    flex-direction: column;
    max-width: 90vh;
    min-height: 30vh;
    margin: 4rem auto;
}
  
.flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem; 
}
  
.input-row {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

label {
    align-self: flex-start;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    color: var(--fontcolor2);
    font-weight: bold;
    font-size: 2.2rem;
}
  
input,
select {
    align-self: stretch;
    width: 100%;
    margin: 1.5rem 0;
    font-size: 2rem;
    background: transparent;
    padding: 0.8rem 0.5rem;
    color: var(--fontcolor3);
    font-weight: bold;
    outline: none;
    border: 0.6rem solid var(--fontcolor1);
    border-radius: 0.4rem;
}
  
input[placeholder],
textarea[placeholder]{
    color: var(--fontcolor2);
    font-size: 2rem;
    font-weight: bold;
}
  
textarea {
    height: 15vh;
    resize: none;
    background: transparent;
    color: var(--fontcolor3);
    font-weight: bold;
    font-size: 2rem;
    outline: none;
    border: 0.6rem solid var(--fontcolor1);
    padding: 0.8rem;
    font-size: 2rem;
    border-radius: 0.4rem;
}
  
form input[type="submit"] {
    display: inline-block;
    width: 40%;
    margin: 0 auto;
    margin-top: 3rem;
}

/*---------------------------------------------------------------------*/
/*                    FOOTER
/*---------------------------------------------------------------------*/

footer{
    background-color: var(--secondary-bgc);
    padding: 0.5rem 2rem;
    border-radius: 1.2rem;
    margin: 3rem 4rem 0 2.8rem;
    min-height: 10vh;
    position: relative;
}
  
footer h3{
    color: var(--fontcolor1);
    font-size: 2.5rem;
    text-align: center;
}

footer div a img{
    display: block;
    margin: 0 auto;
  }
  
.footer-span{
    color: var(--fontcolor4);
    font-size: 2rem;
}
  
footer .flex-item p{
    color: var(--fontcolor4);
    text-align: center;
    margin: 3rem;
    font-weight: bold;
    font-size: 2rem;
}
  
footer .footer-item p{
    font-size: 1.3rem;
    margin-top: 0.4rem;
    color: var(--fontcolor4);
    text-align: center;
}
  
footer .fa-envelope{
    font-size: 4rem;
    color: var(--fontcolor1);
    padding-right: 0.5rem;
}
  
.footer-item a {
    display: block;
    margin: 2.3rem auto;  
    font-size: 2.5rem;
    color: var(--fontcolor1);
}

.fa-brands{
    display: inline-block;
    margin: 8rem 11%;
    background: transparent;
    font-size: 4rem;
    color: var(--fontcolor1);
}

.to-top-button{
    display: block;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bgc);
    margin: auto 0 0 auto;
}
  
.fa-arrow-up{
    font-size: 3rem;
    color: var(--fontcolor1);
}
  
/*---------------------------------------------------------------------*/
/*          RESPONSIVENESS STARTS HERE */
/*---------------------------------------------------------------------*/

.thankyou{
    height: 40vh;
    width: 80vw;
    margin: 20vh auto 0 auto;
    font-size: 4rem;
    color: var(--fontcolor3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--fontcolor2);
    border-radius: 1rem;
    font-weight: bold;    
}

/*---------------------------------------------------------------------*/
/*          RESPONSIVENESS STARTS HERE */
/*---------------------------------------------------------------------*/

@media (max-width: 1400px) {
  
    .banner{
    margin-top: 18vh;
    }
  
    .banner-headline{
    font-size: 4rem;
    }
    
    .banner-text{
    font-size: 1.8rem;
    }
    
    .heading{
    margin: 16rem 0 8rem 0;
    }

    .navbar{
    min-height: 5vh;
    }
}

@media (max-width: 1200px) {
  
    .nav-links {
    gap: 0.8rem;
    margin-right: 4vw;
    font-size: 2.2rem;
    }
     
    .banner1{
    margin-top: 6vh;
    }

    .social-icons{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    flex-direction: row;
}   
}

/*----------------------------------------------------------------------*/
/* RESPONSIVE NAVBAR MENU STARTS AND CHECKBOX HACK */
/*----------------------------------------------------------------------*/

/*First two elements of checkbox hack / make checkbox and hamburger
not visibile on screen-sizes larger than 768px*/

input[type="checkbox"] {
    display: none;
}
  
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
  
@media (max-width: 1050px) {
    
    .hamburger {
      display: block;
      margin-top: 2rem;
      margin-right: 4rem;
      font-size: 5rem;
      color: white;
    }
  
.nav-links {
    display: none;
    position: absolute;
    background-color: var(--primary-bgc);
    right: 0;
    left: 0;
    text-align: center;
    padding: 6rem 0;
    width: 100vw;
    margin-top: 50rem;
    z-index: 1; 
    }
  
.nav-icon{
    font-size: 2rem;
    }
  
.nav-links li + li {
    margin-top: 2rem;
    }
  
input[type="checkbox"]:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
.flex-container{
    flex-direction: column;
    }

.banner-img{
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: opacity var(--transition-speed);
    margin: 0 auto;
    }

.social-icons{
    flex-wrap: no-wrap;
    justify-content: space-around;
    flex-direction: row;
}   
  
.flex-item{
    margin-bottom: 3rem;
    }

.to-top-button{
    width: 6rem;
    height: 6rem;
    }

.card::before{
    top: 4rem;
    left: 8rem;
    width: 14rem;
    height: 14rem;
    font-size: 2.5rem;
    padding: 4rem;
    }
}

@media (max-width: 480px) {

.banner{
    margin-top: 18vh;
    }
  
.banner1{
    margin-top: 8vh;
    }
  
.heading{
    margin: 15rem 0 6rem 0;
    font-size: 4rem;
    }
  
.heading:before{
    top: 7rem;
    }
  
.heading:after{
    top: 6rem;
    }
  
.customer-heading{
    margin-top: 15rem;
    }
    
.customer-heading:before{
    top: 12rem;
    }
    
.customer-heading:after{
    top: 10rem;
    }  
   
form{
    margin-top: 10rem;
    }

.card::before{
    top: 1rem;
    left: 3rem;
    width: 8rem;
    height: 8rem;
    font-size: 1.5rem;
    padding: 1.5rem;
    }   
}
    
@media (max-width: 431px) {

section, footer{
    padding: 0 2rem;
    }

.fa-brands{
    font-size: 2.8rem;
    }
  
.hamburger {
    font-size: 4rem;
    }
  
.heading{
    font-size: 3rem;
    }

th{
    font-size: 1.2rem;
    width: 30%;
    padding: 5px;
    }

td {
    font-size: 1.2rem;
    padding: 5px;
    }

.banner{
    margin-top: 21vh;
    }
      
.banner-img{
    max-width: 90%;
    }
    
.banner1{
    margin-top: 2vh;
    }

.more-info-button{
    text-align: center;
    }

.banner-headline{
    font-size: 3rem;
    }

.banner-text{
    font-size: 1.6rem;
    }

.customer-heading:before{
    top: 10rem;
    }

.customer-heading:after{
    top: 8rem;
    }

.social-icons{
    margin-bottom: 3rem;
}
}