/*---------------------------------------------------------------------*/
/* General Styles and utilities styles */
/*---------------------------------------------------------------------*/

:root {
    --primary-bgc: rgb(36, 76, 195);
    --secondary-bgc: rgb(88, 126, 203);
    --alternate-bgc: rgb(123, 150, 210);
    --fontcolor1: rgb(236, 239, 243);
    --fontcolor2: rgb(36, 76, 195);
    --fontcolor3: rgb(45, 23, 211);
    --transition-speed: 0.5s;
}
  
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
  
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
  
body {
    margin: 0 auto;
    max-width: 180rem;
    font-family: 'Open Sans Regular', sans-serif;
    background-image: linear-gradient(90deg, rgba(88, 126, 203, 0.2), rgba(123, 150, 210, 0.4));
    overflow-x: hidden;
}

section, footer{
    padding: 0 3rem;
}

/*---------------------------------------------------------------------*/
/* General Styles and utilities styles */
/*---------------------------------------------------------------------*/

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
  
.flex-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.heading{
    text-align: center;
    margin: 10rem 0 8rem 0;
    position: relative;
    color: var(--fontcolor1);
    font-size: 4rem;
    letter-spacing: 0.1rem;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--fontcolor3);
  }
  
.heading::before{
    content:'';
    width: 50%;
    height: 0.2rem;
    background-color: var(--secondary-bgc);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 6rem;
}
  
.heading::after{
    content:'';
    width: 30%;
    height: 0.2rem;
    background-color: var(--secondary-bgc);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 8rem;
}

.more-info-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--alternate-bgc); 
    border-radius: 0.6rem;
    cursor: pointer;
    margin: auto auto 0 auto;
    color: var(--fontcolor1);
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
  }
  
  .more-info-button:hover,
  .more-info-button:active {
    background-color: var(--secondary-bgc);
    transform: scale(1.1);
  }
  

/*-------------------------------------------------------------------*/
/* Store Google-Fonts locally because CDN not compliant with GDPR */
/*-------------------------------------------------------------------*/

@font-face {
    font-family: 'Open Sans Bold';
    src: url('assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}
  
  @font-face {
    font-family: 'Open Sans Medium';
    src: url('assets/fonts/OpenSans-Medium.ttf') format('truetype');
    font-weight: normal; 
}
  
  @font-face {
    font-family: 'Open Sans Regular';
    src: url('assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*--------------------------------------------------------------------------*/
/* Navbar for larger screen-sizes / checkbox hack below for small screen */
/*--------------------------------------------------------------------------*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-bgc);
    color: var(--fontcolor1);
    min-height: 12vh;
}
  
.nav-links a {
    color: var(--fontcolor1);
}
  
.logo {
    display: inline-block;
    margin-left: 12vw;
    height: auto;
}
  
.nav-links {
    display: flex;
    gap: 1rem;
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin-right: 5vw;
}
  
.nav-links li {
    margin-right: 0.4rem;
}
  
.nav-links li a {
    display: flex;
    align-items: center;
}
  
.nav-icon {
    font-size: 1.4rem;
    padding-right: 0.8rem;
}
  
.nav-links li {
    padding: 0.2rem 1rem;
}
  

/*---------------------------------------------------------------------*/
/*                  LANDING INCLUDING BANNER */
/*---------------------------------------------------------------------*/
.banner{
    margin-top: 15vh;
}
  
.banner-img{
    display: inline-block;
    max-width: 80%;
    height: auto;
    border-radius: 0.5rem;
    transition: opacity var(--transition-speed);
    margin: 0 auto;
}
  
.banner-img:hover{
    opacity: 0.7;
}
  
.banner-headline{
    text-align: center;
    margin: 1.5rem;
    font-size: 6rem;
    color: var(--fontcolor1);
    letter-spacing: 0.1rem;
    text-shadow: 0.2rem 0.2rem 0.2rem var(--fontcolor3);
}
  
.banner-text{
    font-size: 2.5rem;
    color: var(--fontcolor3);
    letter-spacing: 0.1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

/*---------------------------------------------------------------------*/
/*             OUR PROJECTS/QUALITY ON LANDING/index.html */
/*---------------------------------------------------------------------*/
.cardholder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
  
.card {
    text-align: center;
    border: 0.1rem solid #ddd;
    border: 0.2rem solid var(--alternate-bgc);
    padding: 0.5rem 2rem;
    border-radius: 1.2rem;
    margin-right: 1.2rem;
    position: relative;
}
  
.card img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    box-shadow: 0.5rem 0.5rem 1rem var(--alternate-bgc);
}

.card h2,
article h2{
  font-size: 2.5rem;
  color: var(--fontcolor3);
  font-weight: 700;
  margin: 1.4rem 0;
  text-align: center;
}

.card p,
article p{
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 2rem;
  color: var(--fontcolor3);
  font-weight: bold;
}

/*--------------------------------------------------*/
/*          RESPONSIVENESS STARTS HERE */
/*--------------------------------------------------*/

/*--------------------------------------------------*/
/* RESPONSIVE NAVBAR MENU STARTS AND CHECKBOX HACK */
/*--------------------------------------------------*/

/*First two elements of checkbox hack / make checkbox and hamburger
not visibile on screen-sizes larger than 768px*/

input[type="checkbox"] {
    display: none;
}
  
  .hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
  
@media (max-width: 768px) {
    .hamburger {
      display: block;
      margin-top: 3rem;
      margin-right: 4rem;
      font-size: 5rem;
      color: white;
}
  
.nav-links {
    display: none;
    position: absolute;
    background-color: var(--primary-bgc);
    right: 0;
    left: 0;
    text-align: center;
    padding: 5rem 0;
    width: 100vw;
    margin-top: 40rem;
    z-index: 1; 
}
  
.nav-icon{
    font-size: 2rem;
}
  
.nav-links li + li {
    margin-top: 1rem;
}
  
input[type="checkbox"]:checked ~ .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.flex-container{
    flex-direction: column;
}
}
  